<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>To do</title>
    <link href="https://fonts.googleapis.com/css?family=Marck+Script&amp;display=swap&amp;subset=cyrillic" rel="stylesheet" />
    <link rel="stylesheet" href="stylesheets/common.min.css" />
</head>

<body class="page">
    <div class="page__container">
        <main class="main">
            <div class="box">
                <div class="todo">
                    <h1>To do list</h1>
                </div>
            </div>
        </main>
    </div>
    <script src="scripts/components/filter.js"></script>
    <script src="scripts/components/pagination.js"></script>
    <script src="scripts/components/row.js"></script>
    <script src="scripts/components/app.js"></script>
</body>

</html>
