.filter {
    button {
        margin-right: 15px;

        @media (max-width: 386px) {
            margin-bottom: 15px;
        }

        &:last-child {
            margin-right: 0;
        }

        &.is-active {
            opacity: 0.5;
        }
    }
}
