@import "../filter/filter.css";
@import "../pagination/paginaiton.css";

.todo {
    font-family: "Marck Script", "Arial", sans-serif;
    text-align: center;

    &--filter {
        margin-bottom: 20px;
    }

    form {
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 50px;
        font-weight: 400;
        color: var(--main-color);
        margin-bottom: 20px;
    }

    input[type="text"] {
        font-size: 20px;
        color: var(--main-color);
        width: 100%;
        height: 35px;
        padding: 5px;
        box-sizing: border-box;
        border: 1px solid var(--main-color);
        border-right: 0;
        outline: none;

        &::placeholder {
            color: var(--main-color);
            opacity: 0.7;
        }
    }

    button {
        font-size: 18px;
        color: var(--white);
        padding: 7px 22px;
        height: 35px;
        border: 1px solid var(--main-color);
        background-color: var(--main-color);
        outline: none;
        transition: opacity 0.5s ease;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 0.5;
        }
    }

    ol {
        width: 100%;
        padding-left: 20px;
        box-sizing: border-box;
        margin: 0 auto;
        margin-bottom: 30px;

        li {
            font-size: 20px;
            color: var(--main-color);
            text-align: left;
            cursor: pointer;
            padding: 5px;
            border-bottom: 1px solid var(--main-color);
            margin-bottom: 10px;
            position: relative;

            &:hover {
                button {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &.completed {
                position: relative;
                text-decoration: line-through;

                &:before {
                    position: absolute;
                    content: url("../images/svg-icon/checked.svg");
                    width: 15px;
                    height: 15px;
                    top: 8px;
                    left: -37px;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }

            button {
                width: 20px;
                height: 20px;
                padding: 10px;
                border-radius: 50%;
                border: none;
                outline: none;
                background: var(--main-color);
                opacity: 0;
                visibility: hidden;
                transition-property: opacity, visible;
                transition-duration: 0.5s;
                transition-timing-function: ease;
                position: absolute;
                bottom: 5px;
                right: 5px;

                &:hover {
                    opacity: 0.5;
                }

                &:before {
                    position: absolute;
                    content: url("../images/svg-icon/remove.svg");
                    width: 10px;
                    height: 10px;
                    display: block;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
        }
    }
 
    .not-active {
        display: none;
    }
}
